html {
    overflow-y: scroll;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
  }
  body {
    overflow-y: visible;
    position: relative;
    overflow-x: hidden;
  }
  html,
  body {
    margin: 0;
  }
  
  .containerr {
    width: 600vw;
    height: 50vh;
    display: flex;
    flex-wrap: wrap;
  }
  
  .firstContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background:  rgb(255 255 255);
  }
  
  .lastContainer {
    display: flex;
    height: 100vh;
    background: yellow;
  }
  
  .panel {
    width: 100vw;
    height: 50vh;
  }
  .red {
    background: blue;
  }
  .red {
    background: red;
  }
  .orange {
    background: orange;
  }
  .purple {
    background: purple;
  }
  .blue {
    background-color: blue;
  }
  
  /* -------------------------- */
  
.box {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}

.box.active {
  border: solid 2px red;
}

.box-a {
  top: 200px;
}

.box-b {
  top: 600px;
}

.box-c {
  top: 1000px;
}

.line {
  visibility: hidden;
  width: 2px;
  height: 4000px;
  position: absolute;
  left: 400px;
  top: 0px;
  background-color: #777;
}

.title {
  margin-top: 10vh;
  margin-bottom: 10vh;
  text-align: center;
}

footer {
  position: fixed;
  right: 0px;
  bottom: 0px;
  padding: 6px 10px 10px 12px;
  border-top-left-radius: 26px;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
}

.end {
  position: absolute;
  /*   bottom: 0; */
  top: 2400px;
  transform: translateY(-100%);
  font-size: 30px;
  color: white;
}